form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 70%;
}

.field {
  display: flex;
  flex-direction: column;
}

input {
  pointer-events: auto;
}

.wrong-pswrd {
  border: 2px solid red;
}
